
cabeçalho {
    fundo :  # f7e0f3 ;
}

nav  li {
    exibição : em linha;
    margem :  0  0  0  15 px ;
}

navegue  em {
    text-transform : maiúsculas;
    cor :  # 000000fa ;
    peso da fonte : negrito;
    tamanho da fonte :  22px ;
    decoração de texto : nenhuma;
}
cabeçalho {
    fundo :  # 000000fa ;
    preenchimento :  20 px  0 ;
}
. caixa {
    posição : relativa;
    largura :  940px ; _
    margem :  0 automático;
}

navegação {
    posição : absoluta;
    topo :  110 px ;
    direita :  0 ;
}

. bolo {
    largura :  350px ; _
    altura :  350px ; _
}

. cupcake {
    largura :  300px ; _
    altura :  300px ; _
}

. borda {
borda :  sólido de 2 px # 000000 ;
raio da borda :  10 px ;
}

. produtos  li {
    exibição : bloco em linha;
    text-align : centro;
    largura :  30 % ;
    alinhamento vertical : topo;
    margem :  0  1,5 % ;
    preenchimento :  30px 20px ; _  _
    box-sizing : border-box;
    borda :  sólido de 2 px # 000000 ;
    raio da borda :  10 px ;
}

Rodapé
© 2022 GitHub, Inc.
Navegação no rodapé
Termos
Privacidade
Segurança
Status
Documentos
Entre em contato com o GitHub
Preços
API
Treinamento
Blogue
Sobre
