body {
    background: #06cdf0
}

#banner {
    width: 250px;
    height: 250px;
}

h1 {
    text-align: center;
    height: 200px;
    padding-top : 30px;
    margin: 40px; 
}

p {
    text-align: center
}

#missao {
    font-size: 20px
}

em strong {
    color: rgb(24, 54, 189);
}

.itens {
    font-style: italic;
}
