body {
    background: #06cdf0
}

#logo {
    width: 300px;
    height: 300px;
}

h1 {
    text-align: center;
    height: 150px;
    padding-top: 20px;
    margin: 40px; 
}

p {
    text-align: center
}

#missao {
    font-size: 20px
}

em strong {
    color: rgb(24, 54, 189);
}

.itens {
    font-style: italic;
}
